name: Rust Simple app
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch: {}
jobs:
  test:
    runs-on: ubuntu-22.04-arm
    environment: ${{ vars.ENVNAME || 'start' }}
    env:
      LOCI_BACKEND_URL: '${{ vars.PROJECTURL }}'
      LOCI_API_KEY: '${{ secrets.SECRETKEY }}'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Build and run tests
        run: |
          cargo test
        shell: bash
      - name: LOCI Upload
        uses: auroralabs-loci/loci-action@v1
        with:
          mode: upload
          binaries: target/debug/rust-test
          project: 'rust-test'